.header {
  background-color: var(--background--hover);
  padding: 2rem 4rem;
  font-size: var(--fontsize--large);
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userDropdown {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.userSelect {
  padding: 0.5rem 1rem;
  border: 1px solid var(--background--lines);
  border-radius: 8px;
  cursor: pointer;
  font-size: var(--fontsize--large);
}

.container {
  flex-grow: 1;
  padding: 4rem;
}

.link {
  font-size: var(--fontsize--huge);
  font-weight: 500;
  border: none;
  background-color: var(--background--hover);
  text-decoration: none;
}

.link:hover {
  background-color: var(--background--hover);
  color: var(--primary);
  font-weight: 700;
}
