.container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid var(--background--lines);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;

  h2 {
    margin-bottom: 1rem;
  }
}

.conferece {
  width: 100%;
  padding: 2rem;
  border: 1px solid var(--background--lines);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

.join_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.join_button {
  width: 10rem;
}

.articlesSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  margin-bottom: 1rem;
}
