.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border: 1px solid var(--background--lines);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

.title {
  margin-bottom: 1rem;
}
